# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env.*
venv/
.venv/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Secrets and Config
.env
.env.local
settings.py
*.secret.*
secrets/

# Logs
*.log
logs/

# PyMongo / Celery stuff
celerybeat-schedule
celerybeat.pid
